@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bun venit la siteul OrderLaptop</h1>
    <p>
        Siteul se ocupă cu vânzarea online de componente IT, este un ghid online de shopping, care ajuta clientilor pentru a lua cea mai buna decizie. <br>
        Siteul OrderLaptop doar promovează ofertele magazinelor online. Produsele pot fi comandate de la magazine.
    </p>
    <img src="https://i2.wp.com/www.notebook.hu/blog/wp-content/uploads/2020/03/laptopok.jpg?fit=618%2C323&ssl=1" >

</div>
